@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* root element  */

html {
    background-color: black;
}

body {
    max-width: 1600px;
    min-height: 100vh;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;

    margin: 0 auto;
    background-color: aliceblue;
}

nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.header__bar {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem; */
}

.header__bar h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.header__bar button {
    width: 116px;
    height: 52px;
    background-color: #F5F5F5;
    border: 1px solid black;
    border-radius: 5px;
    color:#006A50;
    font-size: 18px;
    font-weight: 600;
}

.header__section {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    /* align-items: center; */
}

.header__image {
    width: 1280px;
    height: 580px;
    background-color: #C6E4D6;
    border-radius: 25px;
    display: flex;
    justify-content: center;  
}

.image__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

.img__content_left {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.img__content_left h4 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);  
}


.img__content_left h2 {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    
}

.img__content_left button {
    width: 270px;
    height: 56px;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    align-items: center;
    border: none;
    padding: 10px;
}
/* main  */

/* section one */
.section_one {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__one_container {
    width: 1280px;
    height: 324px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 5rem;
    
}

.section__one_container .section__one_title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}

.section__one_items {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

.section__one_item_ind {
    width: 302px;
    height: 244px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 1.3rem;
}

.section__one_item_ind h3 {
    font-size: 20px;
    font-weight: 700;
    color: hsla(0, 0%, 5%, 0.801);
}

.section__one_item_ind p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: hsla(0, 0%, 5%, 0.705);
}

/* section two */
.section__two {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.section__two_content {
    width: 1280px;
    height: 765px;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-direction: column;
}

.section__two_content .sec__two_title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    
}

.section__two_content .sec__two_top_para {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: hsla(0, 0%, 5%, 0.7);
    
}

.section__two_items {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
   
}

.section__two_item_ind {
    width: 410px;
    height: 325px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 16px;
    padding: 2rem;
    
}

.section__two_item_ind_top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 70%;
}

.section__two_item_ind_top h4 {
    font-size: 20px;
    font-weight: 700;
    color: rgba(13, 13, 13, 0.8);
}

.section__two_item_ind_top p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(13, 13, 13, 0.7);
}


.section_two_item_ind_button {
    width: 122px;
    height: 41px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    
}

.blue_btn {
    background-color: #5490F5;
}

.green_btn {
    background-color: #09A15C;
}

.yellow_btn {
    background-color: #FFC239;
}

.blue_bg {
    background-color: rgba(84, 143, 245, 0.2);
}

.green_bg {
    background-color: rgba(9, 161, 93, 0.2);
}

.yellow_bg {
    background-color: #F7EBCF;
}

/* quote section */

.section__two_quote_bottom {
    display: flex;
}

.section__two_quote_bottom {
    width: 1280px;
    height: 256px;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    
    justify-content: center;
}

.sec__two_quote_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 3rem;
}

.sec__two_quote_content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: hsla(0, 0%, 5%, 0.8);
}

.sec__two_quote_content h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: hsla(0, 0%, 5%, 0.8);
}

.sec__two_quote_content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: hsla(0, 0%, 5%, 0.6);
}

.sec_two_quote_first_para {
    position: relative;
}

.sec_two_quote_first_para img {
    position: absolute;
    top: -20px;
    /* left: -5px; */
}

/* section four */

.section__four {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.sec__four_container {
    width: 1280px;
    height: 481px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sec__four_container h2 {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}


.section__four_content {
    width: 100%;
    height: 409px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 2rem;
    
}

.section__four_table {
    width: 1216px;
    height: 345px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.section__four_table_head {
    display: flex;
    
}

.sec__four_title {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
}

.sec__four_title h3 {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}

.section__content_table_question {
    height: 92px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    
}

.section__four_question {
    display: flex;
    width: 80%;
    align-items: center;
    margin-left: 2rem;
    border-right: 1px solid gray;
}

.section__four_question p {
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}

.section__four__drop_down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}


.section__four__drop_down button {
    background-color: hsla(153, 89%, 33%, 0.15);
    border: 1px solid #0E0E0E;
    border-radius: 8px;
    width: 152px;
    height: 44px;
    color: #0E0E0E;
    font-size: 16px;
    font-weight: 600;
}


/* section five(recent news)*/

.section__five {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.section__five_container {
    width: 1280px;
    height: 1406px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.section__five_container_title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}

.section__five_container_para {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: hsla(0, 0%, 5%, 0.7);
}

.sec__five_news_item {
    width: 100%;
    height: 402px;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.section__fiv_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sec__five_cont_top {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sec__five_cont_top h2 {
    font-size: 32px;
    font-weight: 700;
    color: hsla(0, 0%, 5%, 0.8);
}

.sec__five_cont_top p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: hsla(0, 0%, 5%, 0.7);
}

.sec__five_cont_top .time {
    display: flex;
    gap: 1rem;
}

.sec__five_button .read__more_btn {
    width: 139px;
    height: 48px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.sec__five_news__img img {
    border-radius: 16px;
}


/* section six (donation) */
.section__six {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.section__six_container {
    width: 1280px;
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section__six_dontate_title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}

.section__six_dontate_para {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E;
    text-align: center;
}

.section__six_donate {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.donation__amount_box {
    width: 252px;
    height: 128px;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation_amount_coloured {
    background-color: #C6E4D6;
}

.sec_six_custom_donate input {
    width: 1032px;
    height: 64px;
    background-color: #FFFFFF;
    border: none;
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
}

.donation_button .donation__done_button {
    width: 151px;
    height: 56px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

/* newsletter section */
.section__seven {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.sec__seven_container{
    width: 1280px;
    height: 395px;
    display: flex;
    background-color: #C6E4D6;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    
}

.sec__sev_content {
    width: 750px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sec__sev_content h2 {
    font-size: 40px;
    font-weight: 900;
    color: #0E0E0E;
}

.sec__sev_content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
}

.sec__seven_subs button {
    width: 150px;
    height: 56px;
    background-color: #006A50;
    border: none;
    color: #FFFFFF;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.sec__seven_subs input {
    width: 600px;
    height: 56px;
    background-color: #FFFFFF;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 2rem;
    
}

/* footer bar  */

footer {
    width: 100%;
    height: 226px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bar_container {
    width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__bar_container h3 {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.footer__bar_container hr {
    width: 80%;
}

.footer__social_links {
    display: flex;
    gap: 1.75rem;
}

/* hover effect for button and links */

/* sign in button */
.header__bar button:hover {
    background-color: #e2e1e1;
    font-size:medium;
    transition: all, .3s;
    cursor: pointer;
}

/* explore new bangladesh */

.img__content_left button:hover {
    background-color: #056d53e0;
    font-size: medium;
    cursor: pointer;
    transition: all, .3s;
}

/* third section button */
.blue_btn:hover {
    background-color:#7da8f3;
    font-size: medium;
    cursor: pointer;
    transition: all, .3s;
}

.green_btn:hover {
    background-color:#3bbe83;
    font-size: medium;
    cursor: pointer;
    transition: all, .3s;
}

.yellow_btn:hover {
    background-color:#eccd82;
    font-size: medium;
    cursor: pointer;
    transition: all, .3s;
}

/* read more button(recent news) */

.read__more_btn:hover {
    background-color: #139272;
    font-size: medium;
    cursor: pointer;
    transition: all, .2s;
}

/* donate box */

.donation__amount_box:hover {
    background-color: #C6E4D6;
    font-size: large;
    transform: scale(1.1);
    transition: all, .2s;
}

.sec_six_custom_donate input:hover {
    background-color: #C6E4D6;
    text-decoration: underline;
    font-size:larger;
    transform: scale(1.1);
    transition: all, .2s;
}

.donation__done_button:hover {
    background-color: #18886c;
    font-size: large;
    transform: scale(1.1);
    transition: all, .2s;
}

/* newsletters button */

.sec__seven_subs button:hover {
    background-color: #00fa15;
    font-size: large;
    transform: scale(1.1);
    transition: all, .2s;
}

.footer__social_links img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all, .2s;
}

